.footer {
  background-color: #000000;
  color: #fff;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}

.logo img {
  width: 100%;
  max-width: 350px;
  height:250px;
  
}

/* .tagline {
  font-size: 1rem;
  margin-top: 10px;
  color: white;
} */

.contact {
  display: flex;
  color:white;
  font-size: 23px;
  text-align:center ;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  
}

.address {
  display: flex;
  font-size: 23px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  max-width: 280px;
  
}
.address p{
  color: white;
  font-size: 20px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
}
.socialinfo{
  display: flex;
  flex-direction: column;
}

.social a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #ccc;
}

.contact p{
  color: white;
  font-size: 23px;
}
.socialinfo{
  display: flex;
  flex-direction: row;
  gap:15px;

}
.logo1 img{
 width: 50px;
 height: 50px;
 border-radius: 25px;
 background-color: white;
}
.logo2 img{
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
 }

@media (max-width: 1920px) {
  .container {
    flex-wrap: wrap;
  }

  .social {
    margin-left: 0;
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contact, .address {
    margin-left: 0;
    padding: 20px;
  }

  .social {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 15px;
  }

  .logo img {
    width: 80px;
  }

  .tagline {
    font-size: 0.9rem;
  }

  .social {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 20px 10px;
  }

  .logo img {
    width:100%;
    height: 70%;
  }

  .contact, .address {
    padding: 5px;
  }

  .social {
    gap: 8px;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 15px 5px;
  }

  .logo img {
    width:100%;
    height: 80%;
  }

  .contact, .address {
    font-size: 18px;
    padding: 10px;
  }

  .social a {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .footer {
    padding: 10px 5px;
  }

  .logo img {
    width:90%;
    height: 80%;
  }

  .contact, .address {
    font-size: 18px;
    padding: 5px;
  }

  .social a {
    font-size: 14px;
  }
}

@media (max-width: 240px) {
  .footer {
    padding: 5px 2px;
  }

  .logo img {
    width:80%;
    height: 70%;
  }

  .contact, .address {
    font-size: 16px;
    padding: 2px;
  }

  .social a {
    font-size: 12px;
  }
}