.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  background-image: url('../../assets/form/background.png');
  padding: 20px;
  position: relative;
}

.form {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 100%;
  max-width: 550px;
  text-align: center;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
  font-family: Montserrat;
}

p {
  font-family: Poppins;
  font-size: 24px;
  color: #555;
  margin-bottom: 25px;
}

.inputGroupName1,
.inputGroupName2 {
  display: inline-block;
  width: calc(50% - 15px);
  margin-bottom: 20px;
}

.inputGroupName1 {
  margin-right: 15px;
}

.inputGroupMessage{
  margin-top: 1vh;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 14px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: #6a0dad;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.checkbox {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 30px;
  font-size: 0.9rem;
  color: #666;
  background-color: white;
}

.input {
  padding-left: 1vw;
  margin-right: 1px;
  color: #e8e8e8;
}

.checkbox a {
  color: #6a0dad;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}

.label{
  
  padding-left: 0vw;
}

.button {
  background-color: #6a0dad;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 14px 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.button:hover {
  background-color: #5500b3;
}

/* Responsive Design */
@media (max-width: 1440px) {
  .form {
    padding: 30px;
  }

  h2 {
    font-size: 1.8rem;
  }

  .button {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .form {
    max-width: 500px;
    padding: 25px;
  }

  h2 {
    font-size: 1.6rem;
  }

  .button {
    padding: 12px 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .form {
    max-width: 100%;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .form {
    max-width: 100%;
    padding: 15px;
  }

  h2 {
    font-size: 1.3rem;
  }

  .button {
    padding: 10px 0;
    font-size: 13px;
  }
}
